{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}{{ video.title }}{% endblock %}

{% block body %}
            <h1>{{ video.title }}</h1>
        <div id="{{ video.id }}">
            loading....
        </div><br>
        <div>
{% endblock %}
{% block javascript %}

{% if video.videoName[0:4] == 'http' %}
        <script>
            var playerInstance = jwplayer("myElement");
            jwplayer("{{ video.id }}").setup({
            file: "{{ video.videoName[6:37] }} " ,
            width: 640,
            height: 360
            });
     </script>
{% else %}
        <script>
            jwplayer("{{ video.id }}").setup({
             base: '/videos/{{ video.videoName }}',
             file: '/videos/{{ video.videoName }}',
             "height": 360,
             "width": 640,
              });
        </script>
{% endif %}
{% endblock %}