{% extends "UserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div>
        <h3>Se Connecter</h3>
        <form name="fos_user_login_form" action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

            <label for="email">{{ 'security.login.email'|trans }}</label><br>
            <input type="email" class="form-control" id="username" placeholder="E-Mail" name="_username" required="required"/><br>

            <label for="password">{{ 'security.login.password'|trans }}</label><br>
            <input type="password" id="password" name="_password" required="required"/><br>

            <div>
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <label for="remember_me" id="remember_me-label">{{ 'security.login.remember_me'|trans }}</label><br>
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"/>
                {% for owner in hwi_oauth_resource_owners() %}
                    <a href="{{ hwi_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a>
                {% endfor %}
            </div>
        </form>
    </div>

{% endblock fos_user_content %}

