{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Last Videos </h1>

    {% for video in url %}
        <h1>{{ video.title }}</h1>
        <div>
            {{ video.description }}
        </div> <br>
        {% set img = 'images/'~ video.imageName %}
        {% set urlWatch = '/watch/'~ video.id %}
        {% set urlChannel = '/channel/'~ video.user.username %}
        <a href="{{ urlWatch }}">
            <img src="{{ img| imagine_filter('my_thumb') }}"/>
        </a><br><br>

        <i>Posted By
            <a href="{{ urlChannel }}">
            {{ video.user.username }}</i>
        </a>

    {% endfor %}

{% endblock %}
