{% extends 'MyStreamBundle::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>BLEH </h1>

    {% for video in url %}
        <h1>{{ video.title }}</h1>
        <div id="{{ video.id }}">
            loading....
        </div><br>
        <div>
            {{ video.description }}
        </div> <br>
        <i>Posted By {{ video.user.username }}</i> <br><br>
    {% endfor %}
{% endblock %}

{% block javascript %}
    {% for video in url %}
        <script type="text/javascript">
            jwplayer("{{ video.id }}").setup({
                base: '/videos/{{ video.videoName }}',
                file: '/videos/{{ video.videoName }}',
                "height": 360,
                "width": 640,
            });
        </script>
    {% endfor %}
{% endblock %}
